<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Plinx web design offers simple, out of the box, web solutions for individuals and companies looking for straight forward, affordable and beautiful web designs.">
    <meta http-equiv="content-type"content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/MainCSS.css" media="screen,projection" />
    <link href="~/css/materialize.css" rel="stylesheet"
          type="text/css" />
    <title>Plinx Web Design</title>
</head>
<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="Index"><img src="~/Content/Images/PlinxLogo.png" class="logo brand-logo" /></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Our Services", "OurServices", "Home")</li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                    <li>|</li>
                    <partial name="_LoginPartial" />
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Our Services", "OurServices", "Home")</li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                </ul>
            </div>
        </nav>
    </div>
    @RenderBody()
    <partial name="Footer" />
    @RenderSection("Scripts", required: false)
</body>
</html>
<script src="~/Scripts/jquery-2.2.3.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="~/Scripts/indexScript.js"></script>
<script src="~/Scripts/jquery.textillate.js"></script>
<script src="~/Scripts/jquery.lettering.js"></script>
<script src="~/Scripts/jquery.fittext.js"></script>
<script src="~/js/materialize.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js"></script>
<script src="~/js/materialize.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://yandex.st/highlightjs/7.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>