@{
    var isHome = string.Equals(ViewContext?.RouteData?.Values["controller"]?.ToString(), "Home", StringComparison.OrdinalIgnoreCase) && string.Equals(ViewContext?.RouteData?.Values["action"]?.ToString(), "Index", StringComparison.OrdinalIgnoreCase);
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Plinx web design offers simple, out of the box, web solutions for individuals and companies looking for straight forward, affordable and beautiful web designs.">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/MainCSS.css" media="screen,projection" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel='stylesheet' href='~/css/spectrum.css' />
    <title>Welcome to Plinx</title>
</head>
<body>
    <div class="main-content">
        <div class="navbar-fixed">
            <ul id="dropdown1" class="dropdown-content">
                <div class="row">
                    <div class="col xl4 m6">
                        <li><a class="template-header">Gaming</a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Gaming/Template1/index.html">Template 1 <i style="display:none" id="pin-icon-1" class="pin-icon material-icons">touch_app</i> </a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Gaming/Template2/index.html"> Template 2 <i style="display:none" id="pin-icon-2" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Gaming/Template3/index.html">Template 3 <i style="display:none" id="pin-icon-3" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Gaming/Template4/home.html"> Template 4 <i style="display:none" id="pin-icon-4" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Gaming/Template5/index.html">Template 5 <i style="display:none" id="pin-icon-5" class="pin-icon material-icons">touch_app</i></a></li>
                    </div>
                    <div class="col xl4 m6">
                        <li><a class="template-header">Landing Pages</a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/AppLandingPage/Template1/index.html">Template 1 <i style="display:none" id="pin-icon-6" class="pin-icon material-icons">touch_app</i> </a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/AppLandingPage/Template2/index.html"> Template 2 <i style="display:none" id="pin-icon-7" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/AppLandingPage/Template3/index.html">Template 3 <i style="display:none" id="pin-icon-8" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/AppLandingPage/Template4/index.html"> Template 4 <i style="display:none" id="pin-icon-9" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/AppLandingPage/Template5/index.html">Template 5 <i style="display:none" id="pin-icon-10" class="pin-icon material-icons">touch_app</i></a></li>
                    </div>
                    <div class="col xl4 m6 ">
                        <li><a class="template-header">Finance</a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Finance/Template1/index.html">Template 1 <i style="display:none" id="pin-icon-11" class="pin-icon material-icons">touch_app</i> </a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Finance/Template2/index.html"> Template 2 <i style="display:none" id="pin-icon-12" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Finance/Template3/index.html">Template 3 <i style="display:none" id="pin-icon-13" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Finance/Template4/index.html"> Template 4 <i style="display:none" id="pin-icon-14" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Finance/Template5/index.html">Template 5 <i style="display:none" id="pin-icon-15" class="pin-icon material-icons">touch_app</i></a></li>
                    </div>
                    <div class="col xl4 m6 ">
                        <li><a class="template-header">Blogs</a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Blogs/Template1/index.html">Template 1 <i style="display:none" id="pin-icon-16" class="pin-icon material-icons">touch_app</i> </a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Blogs/Template2/index.html"> Template 2 <i style="display:none" id="pin-icon-17" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Blogs/Template3/index.html">Template 3 <i style="display:none" id="pin-icon-18" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Blogs/Template4/index.html"> Template 4 <i style="display:none" id="pin-icon-19" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Blogs/Template5/index.html">Template 5 <i style="display:none" id="pin-icon-20" class="pin-icon material-icons">touch_app</i></a></li>
                    </div>
                    <div class="col xl4 m6">
                        <li><a class="template-header">Portfolio/CV</a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Portfolio/Template1/index.html">Template 1 <i style="display:none" id="pin-icon-21" class="pin-icon material-icons">touch_app</i> </a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Portfolio/Template2/index.html"> Template 2 <i style="display:none" id="pin-icon-22" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Portfolio/Template3/index.html">Template 3 <i style="display:none" id="pin-icon-23" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Portfolio/Template4/index.html"> Template 4 <i style="display:none" id="pin-icon-24" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Portfolio/Template5/index.html">Template 5 <i style="display:none" id="pin-icon-25" class="pin-icon material-icons">touch_app</i></a></li>
                    </div>
                    <div class="col xl4 m6 ">
                        <li><a class="template-header">Business</a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Business/Template1/index.html">Template 1 <i style="display:none" id="pin-icon-26" class="pin-icon material-icons">touch_app</i> </a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Business/Template2/index.html"> Template 2 <i style="display:none" id="pin-icon-27" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Business/Template3/index.html">Template 3 <i style="display:none" id="pin-icon-28" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Business/Template4/index.html"> Template 4 <i style="display:none" id="pin-icon-29" class="pin-icon material-icons">touch_app</i></a></li>
                        <li><a class="template-link" target="_blank" href="~/Templates/Business/Template5/index.html">Template 5 <i style="display:none" id="pin-icon-30" class="pin-icon material-icons">touch_app</i></a></li>
                    </div>
                </div>
            </ul>
            <nav>
                <div class="nav-wrapper">
                    <a href="/"><img src="~/Content/Images/PlinxLogo.png" class="logo brand-logo" /></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Our Services", "OurServices", "Home")</li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Template<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li>|</li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </nav>
            <ul class="sidenav" id="mobile-demo">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("About Us", "About", "Home")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li>@Html.ActionLink("Our Services", "OurServices", "Home")</li>
                <li><a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                <li>@Html.ActionLink("Templates","MobilePreviews","Home")</li>
                <partial name="_LoginPartial" />
            </ul>
        </div>
        <div class="preview-window-container">
            <iframe scrolling="no" id="preview-window" class="box-shadow" src="#"></iframe>
        </div>

        <img src="~/Content/Images/phoneFrame.png" id="image-frame" />
        <p id="close-preview">Close Preview</p>


        @RenderBody()
        <partial name="_CookieConsentPartial" />     
        

        @*HACK: Footer is rendered in the index page due to display issues, so we don't want to render again on the home page*@ 
        @if (!isHome) 
        { 
            <partial name="Footer" />
        }


        @RenderSection("Scripts", required: false)
    </div>

    @*TODO: Move into partial*@
    <div id="page-loader">
        <div class="preloader-wrapper big active loader">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div><div class="gap-patch">
                    <div class="circle"></div>
                </div><div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <div class="loading-text">
            Loading...
        </div>
    </div>


</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src='~/js/spectrum.js'></script>
<script src="~/Scripts/indexScript.js"></script>
<script src="~/Scripts/jquery.textillate.js"></script>
<script src="~/Scripts/jquery.lettering.js"></script>
<script src="~/Scripts/jquery.fittext.js"></script>
<script src="~/js/site.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.7.2.js"></script>
<script src="https://yandex.st/highlightjs/7.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>

    $('document').ready(function () {

        //check if loading homepage. If homepage set bg as black coz it looks nice.
        if (window.location.pathname == '/') $('body').css("background-color", "black");

        $(window).on("load", function () {
            $('.main-content').css("visibility", "visible");
            $('body').css("background-color", "white");
            $('#page-loader').hide();
        });

        $('select').formSelect();
        $('#close-preview').click(function () {
            $('#image-frame').hide();
            $('.preview-window-container').hide();
            $('#close-preview').hide();
        });

        $(".template-link").click(function (e) {
            var iconWasClicked = e.target.classList.contains("pin-icon");
            if (iconWasClicked) {
                e.preventDefault();
                $('#close-preview').fadeIn('slow');
                $('.pin-icon').hide();
                M.toast({ html: 'Mobile preview is now interactive!' })
            }
        });

        var hidePhone = false;

        $(".dropdown-trigger").dropdown();

        $('.sidenav').sidenav();

        $('#preview-window').hover(function (e) {
            $('#preview-window').attr("scrolling", "auto")
        }, function (e) { $('#preview-window').attr("scrolling", "no") });

        $('.template-link').hover(function (e) {

            //Check drop down menu has full loaded before running hover code
            if ($('#dropdown1').css("opacity") == 1) {

                var icon = '#' + e.target.lastElementChild.id;
                $(icon).show();

                hidePhone = false;

                $('#preview-window').attr('src', this.href);
                $('#image-frame').fadeIn("slow", function () { });

                setTimeout(function () {
                    if (!hidePhone) $('.preview-window-container').fadeIn("slow", function () { });
                }, 150);
            }
        }, function (e) {
            $('.pin-icon').hide();

            //drop down menu has full loaded before running un-hover code
            if ($('#dropdown1').css("opacity") == 1) {
                $('.preview-window-container').hide();
                hidePhone = true;
                setTimeout(function () {
                    if (hidePhone) {
                        $('#image-frame').fadeOut("slow", function () { $('.preview-window-container').hide() });
                        $('.pin-icon').hide();
                        $('#close-preview').fadeOut('fast');
                    }
                }, 300);
            }
        });
    });
</script>